nvim/.config/nvim/autoload/*
nvim/.config/nvim/plugged/*

fonts/.local/share/fonts/.uuid

julia/.julia/logs/*
julia/.julia/compiled/*
julia/.julia/environments/*
julia/.julia/packages/*
julia/.julia/registries/*
