[Unit]
Description=Start tmux session in detached mode

[Service]
Type=forking
ExecStart=/home/jeff/.local/bin/tmuxd
Restart=always

[Install]
WantedBy=default.target
